<!-- <div class="row"> -->
<div class="iframe-container">
<div id="allmap"></div>
</div>
    <div>
      <p>hi</p>
      <p><%= link_to "Add a public facility", new_facility_path %></p>
    </div>
<script type="text/javascript">
  var map = new BMap.Map("allmap");
  var point = new BMap.Point(121.479102, 31.235929);
  map.centerAndZoom(point, 13);
  map.enableScrollWheelZoom( );
  map.enableInertialDragging();

  map.enableContinuousZoom();

  var size = new BMap.Size(10, 20);
  map.addControl(new BMap.CityListControl({
      anchor: BMAP_ANCHOR_TOP_LEFT,
      offset: size,
      // 切换城市之间事件
      // onChangeBefore: function(){
      //    alert('before');
      // },
      // 切换城市之后事件
      // onChangeAfter:function(){
      //   alert('after');
      // }
  }));

  function addMarker(point){
    var marker = new BMap.Marker(point);
    map.addOverlay(marker);
  }
  // 随机向地图添加25个标注
  var bounds = map.getBounds();
  var sw = bounds.getSouthWest();
  var ne = bounds.getNorthEast();
  var lngSpan = Math.abs(sw.lng - ne.lng);
  var latSpan = Math.abs(ne.lat - sw.lat);
  for (var i = 0; i < 25; i ++) {
    var point = new BMap.Point(sw.lng + lngSpan * (Math.random() * 0.7), ne.lat - latSpan * (Math.random() * 0.7));
    addMarker(point);
  }

</script>
